<input class="mbui-input" type="text" placeholder="请输入手机号"  value=""/>

<style type="text/css">
	.mbui-input{
    position: relative;
    width: 100%;
    -web-kit-appearance:none;
    -moz-appearance: none;
    font-size: 14px;
    height:38px;
    border-radius:0;
    border:0px solid #c8cccf;
    color: #2E2E30;
    outline:0;
    padding: 0 5px;
  }
  ::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #BDBDBD;
    font-size: 14px;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #BDBDBD;
    font-size: 14px;
  }
  input::-webkit-input-placeholder{
    color: #BDBDBD;
    font-size: 14px;
  }
</style>