
<textarea class="mbui-textarea" type="text" placeholder="请输入手机号"  value=""/>

<style type="text/css">
	textarea[type=text]{
      background: #FFFFFF;
      border: 1px solid #EFEFEF;
      border-radius: 4px;
      border-radius: 4px;
      outline:none;
    }
	textarea[type=text]:focus, select:focus{
      border: 1px solid #FAB100;
      border-radius: 4px;
      border-radius: 4px;
      outline:none;
    }

    .pii-mb-textarea{
      position: relative;
      width: 100%;
    }

    .mbui-textarea{
      position: relative;
      width: 100%;
      -web-kit-appearance:none;
      -moz-appearance: none;
      font-size: 14px;
      height:102px;
      border-radius:0;
      border:0px solid #c8cccf;
      color: #2E2E30;
      outline:0;
      padding: 0 5px;
    }
    textarea::-webkit-input-placeholder{
      color: #BDBDBD;
      font-size: 14px;
    }
</style>