<div class="putInResult-content">
	<div class="putInResult-box">
		<div class="putInResult1">
			<div class="userClause-top">
	          <div class="uc-title">
	            采购发布失败
	          </div>
	          <div class="uc-close uc-login-close">
	            <img class="img" src="./../../edit/img/close.jpg"></img>
	          </div>
        	</div>
        	<div class="putInResult-cont">
        		<div class="error-tips">网络连接失败，请连接网络后重新发布</div>
        		<div class="putInResule-btn">重新发布</div>
        	</div>
		</div>
	</div>
</div>

<style type="text/css">
	.putInResult-content{
		position: fixed;
	    width: 100%;
	    top: 0;
	    height: 100%;
	    background: rgba(0, 0, 0, 0.71);
	    z-index: 999;
	}
	.putInResult-box{
		position: relative;
	    width: 580px;
	    margin: auto;
	    top: 50%; /*偏移*/
	    transform: translateY(-50%);
	}
	.putInResult1{
		position: relative;
	    width: 580px;
	    height: 240px;
	    margin: auto;
	    background: #FFFFFF;
	    padding-top: 30px;
	}
	.userClause-top{
	    position: relative;
	    width: 100%;
	  }
	  .uc-title{
	    font-family: PingFangSC-Semibold;
	    font-size: 20px;
	    color: #2E2E30;
	    text-align: center;
	    line-height: 20px;
	    margin: 0 0 20px 0;
	    font-weight: bold;
	  }
	.uc-close{
	    position: absolute;
	    width: 20px;
	    height: 20px;
	    right: 18px;
	    top: -7px;
	}
	.uc-close>img{
	    position: relative;
	    width: 20px;
	    height: 20px;
	}
	.putInResult-cont{
		position: relative;
		width: 100%;
	}
	.error-tips{
		position: relative;
		width: 480px;
		font-family: PingFangSC-Regular;
		font-size: 12px;
		color: #9B9B9B;
		text-align: center;
		line-height: 20px;
	    margin: 25px auto;
	}
	.putInResule-btn{
		position: relative;
		width: 190px;
		height: 38px;
		margin: auto;
		background: #02C2A2;
		border-radius: 4px;
		border-radius: 4px;
		font-family: PingFangSC-Regular;
		font-size: 16px;
		color: #FFFFFF;
		text-align: center;
		line-height: 38px;
	}
</style>