
  <div class="register-content">
    <div class="register-mb right">
      <div class="top-mb"></div>
      <div class="register">
        <div class="items-border">
          <div class="phone">
            <input class="mbui-input" type="text" placeholder="请输入手机号"  value=""/>
          </div>
        </div>
        <p class="mb-login-errorTips" id="phone-error">请输入正确格式的手机号</p>
        <div class="items-border">
          <div class="slider">
            <input class="mbui-input" type="text" placeholder="请输入登录密码"  value=""/>
          </div>
        </div>
        <div class="loginSwitch">
          <p class="forget-passWord colour-p" id="forget-passWord">忘记密码</p>
          <p class="switch-p">
            还没有账号?
            <span class="colour-p" id='registerTap'>立即注册</span>
          </p>
        </div>
        <div class="loginBtn" id="loginBtnPassWord">立即登录</div>
      </div>
    </div>
  </div>


<script>
    
</script>

<style scoped>
  .register-content{
    position: relative;
    width: 100%;
    padding: 0 2px;
  }
  .register-mb{
    position: relative;
    width: 280px;
  }
  .top-mb{
    position: relative;
    width: 100%;
  }
  .register{
    position: relative;
    width: 100%;
  }
  .items-border{
    position: relative;
    width: 100%;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    border-radius: 4px;
    margin-top: 14px;
  }
  .forget-passWord{
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    text-align: left;
    ont-family: PingFangSC-Regular;
    font-size: 14px;
    color: #9B9B9B;
    line-height: 38px;
  }
  .loginSwitch{
    position: relative;
    width: 100%;
  }
  .switch-p{
    position: relative;
    width: 100%;
    text-align: right;
    ont-family: PingFangSC-Regular;
    font-size: 14px;
    color: #9B9B9B;
    line-height: 38px;
  }
  .colour-p{
    color: #02C2A2;
  }
  .loginBtn{
    position: relative;
    width: 100%;
    height: 38px;
    background: #02C2A2;
    border-radius: 4px;
    border-radius: 4px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    line-height: 38px;
    margin-top: 20px;
  }
</style>
