  <div class="putIn-content">
    <div class="putIn-cont">
      <!-- 采购信息 -->
      <div class="pi-mb-items">
        <div class="pii-title"><div class="line-mb-pi"></div> <span class="pii-title-p">采购信息</span> </div>
        <div class="pii-mb-input">
          <div class="reportFrom-content">
            <div class="reportFrom-box">
              <div class="reportFrom">
                <div class="RF-top">
                  <div class="RF-item left" >
                    <p 
                    class=""
                    >{{items.name}}</p>
                  </div>
                  <div class="RF-item left" >
                    <p 
                    class=""
                    >{{items.name}}</p>
                  </div>
                  <div class="RF-item left" >
                    <p 
                    class=""
                    >{{items.name}}</p>
                  </div>
                  <div class="RF-item left" >
                    <p 
                    class=""
                    >{{items.name}}</p>
                  </div>
                  <div class="RF-item left" >
                    <p 
                    class="borderRight"
                    >{{items.name}}</p>
                  </div>
                  <div class="clear"></div>
                </div>
                <div class="RF-cont">
                  <div class="RF-lists">
                    <div class="RF-item left">
                      <p class="borderRight">{{ items.key}}</p>
                    </div>
                    <div class="RF-item left">
                      <p class="">{{ items.value}}</p>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
                 <!-- <div class="RF-cont" v-for="(items, index) in data.dataLists" :key='index'>
                  <div class="RF-lists">
                    <div class="RF-item left" :style='data.columnnOne'>
                      <p class="borderRight" :style="data.columnnOne ? {color: data.columnnOne.color} : null">{{ items.key}}</p>
                    </div>
                    <div class="RF-item left" :style='data.columnnTwo'>
                      <p class="">{{ items.value}}</p>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div> -->
              </div>
              <div class="lineBoxTop"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-line-x"></div>
    </div>
  </div>
  <script type="text/javascript">
    
  </script>
  <style type="text/css">
    .putIn-content{
      position: relative;
      width: 100%;
    }
    .putIn-cont{
      position: relative;
      width: 100%;
    }
    .pi-mb-items{
      position: relative;
      width: 100%;
    }
    .pii-title{
      position: relative;
      width: 100%;
      font-family: PingFangSC-Semibold;
      font-size: 16px;
      color: #2E2E30;
      line-height: 16px;
      margin: 16px 0;
      font-weight: bold;
    }
    .line-mb-pi{
      background: #FAB100;
      position: absolute;
      width: 3px;
      height: 16px;
      margin-right: 5px; 
    }
    .pii-title-p{
      margin-left: 10px;
    }
    .pii-mb-input{
      position: relative;
      width: 100%;
      margin: 10px 0 20px 0;
    }




    .reportFrom-content {
  position: relative;
  width: 100%;
}
.reportFrom-box {
  position: relative;
  width: 100%;
  background: #fff;
}
.RF-title {
  position: relative;
  width: 100%;
  padding: 1vw 4vw 1vw 4vw;
  margin-bottom: 2vw;
}
.RF-title > p {
  font-family: PingFang-SC-Bold;
  font-size: 4.266vw;
  color: #2e2e30;
  line-height: 5vw;
}
.reportFrom {
  position: relative;
  width: 100%;
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
}
.RF-top {
  position: relative;
  width: 100%;
}
.RF-bg {
  position: relative;
  background: #fafafa;
}
.RF-item {
  position: relative;
  width: 50%;
  border-top: 1px solid #d2d2d2;
}
.RF-item > p {
  position: relative;
  width: 99%;
  font-family: PingFang-SC-Regular;
  font-size: 3.5vw;
  color: #2e2e30;
  line-height: 10.4vw;
  padding: 0 1vw 0 3vw;
}
.borderRight {
  border-right: 1px solid #d2d2d2;
}
.findMore-RF {
  position: relative;
  width: 100%;
}
.findMore-RF > p {
  position: relative;
  width: 100%;
  text-align: center;
  font-family: PingFang-SC-Medium;
  font-size: 3.5vw;
  color: #9b9b9b;
  line-height: 10.4vw;
}
.lineBoxTop {
  border-top: 1px solid #d2d2d2;
}
    
  </style>